@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat"), url("../fonts/Montserrat-Light.woff") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.woff") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"), url("../fonts/Montserrat-Medium.woff") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), url("../fonts/Montserrat-Bold.woff") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat"), url("../fonts/Montserrat-Black.woff") format("woff2");
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

::-ms-input-placeholder {
  color: #000;
}

::placeholder {
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.65;
  color: #5A5A5A;
  position: relative;
  overflow-x: hidden;
  background-color: #FDFDFD;
  min-width: 300px;
}

input,
textarea {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 40px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.8%;
          flex: 0 0 6.8%;
  max-width: 6.8%;
  margin: 0 12px;
}

.col:nth-child(1) {
  margin-left: 0;
}

.col:last-child {
  margin-right: 0;
}

.btn {
  padding: 18px 40px;
  cursor: pointer;
  background: #ED4E31;
  border-radius: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FDFDFD;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  background-color: #F17F6A;
}

.btn:active {
  background-color: #0A0207;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #0a0302;
}

.header {
  padding: 24px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 279px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-right: 89px;
}

.header:hover {
  background-color: #F5F5F5;
}

.header__description {
  color: #5A5A5A;
}

.nav__link {
  color: #0A0302;
  margin: 0px 36px;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:first-child {
  margin-left: 0px;
}

.nav__link:last-child {
  margin-right: 0px;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background-color: #F17F6A;
  z-index: -1;
}

.header__call-btn {
  border: 1.5px solid #ED4E31;
  border-radius: 2px;
  color: #ED4E31;
  font-weight: 500;
  font-size: 18px;
  padding: 21px 18px 21px 65px;
  background-image: url(./../img/phone.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 6px;
}

.header__call-btn:hover {
  background-color: #ED4E31;
  color: #F5F5F5;
  background-image: url(./../img/phone-hover.png);
}

.header__call-btn .mobile__menu {
  display: none;
}

.main {
  padding-top: 40px;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__left {
  width: 50%;
  max-width: 732px;
}

.main__title {
  color: #0A0302;
  margin-bottom: 24px;
}

.main__description {
  color: #5A5A5A;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.main__description span {
  font-weight: 500;
}

.main__note {
  color: #969696;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.main__right {
  width: 50%;
  text-align: end;
}

.tasks {
  background-image: url(./../img/Tasks_bg.png);
  background-repeat: no-repeat;
  background-position: -20px 0;
  padding-top: 148px;
}

.tasks__title {
  text-align: center;
  margin-bottom: 83px;
}

.tasks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tasks__item {
  text-align: center;
  max-width: 320px;
  margin: 0 10px;
}

.tasks__img {
  margin-bottom: 16px;
}

.tasks__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #0A0302;
  margin-bottom: 8px;
}

.tasks__description {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #5A5A5A;
}

.about-us {
  padding-bottom: 180px;
  background-image: url(./../img/about_bg.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 202px;
  background-size: 7%;
}

.about-us__title {
  text-align: center;
  margin-bottom: 30px;
}

.about-us__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__arrow-left {
  height: 48px;
  margin-right: 60px;
  cursor: pointer;
}

.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__body-img {
  width: 243px;
}

.slider__body-img-wrapper {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.2);
          box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.2);
  border-radius: 2px;
  padding: 118px 109px;
}

.slider__body-main {
  padding: 172px 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F9F9F9;
  -webkit-box-shadow: inset 0px 0px 2px rgba(1, 1, 1, 0.05);
          box-shadow: inset 0px 0px 2px rgba(1, 1, 1, 0.05);
  border-radius: 2px;
  text-align: center;
  position: relative;
}

.slider__body-description {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #5A5A5A;
}

.slider__body-description span {
  font-weight: 500;
}

.slider__body-order {
  position: absolute;
  right: 0;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-active {
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F17A65;
  margin-right: 24px;
  cursor: pointer;
}

.order-line {
  display: inline-block;
  background: #0A0302;
  height: 2px;
  width: 120px;
  margin-right: 32px;
}

.order-end {
  font-size: 21px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #969696;
}

.slider__arrow-right {
  height: 48px;
  margin-left: 60px;
  cursor: pointer;
}

.service {
  padding-bottom: 40px;
}

.service__group {
  text-align: center;
}

.service__title {
  text-align: center;
  margin-bottom: 47px;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

.service__col {
  width: 24%;
  margin-right: 24px;
  background: #F5F5F5;
  -webkit-box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.1);
          box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.1);
  border-radius: 2px;
  padding: 24px 24px 42px 28px;
}

.service__col:last-child {
  margin-right: 0px;
}

.service__col-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0A0302;
  text-align: center;
}

.service__col-subhead {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #969696;
  padding-bottom: 16px;
  text-align: center;
  font-weight: normal;
  position: relative;
}

.service__col-subhead::after {
  position: absolute;
  content: '';
  background: #969696;
  opacity: 0.1;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.service__col-list {
  padding-top: 24px;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 18px;
}

.list__item-img {
  margin-right: 16px;
  padding-top: 3px;
}

.list__item-description {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #5A5A5A;
  opacity: 0.7;
}

.casess {
  padding-top: 196px;
  background-image: url(./../img/cases_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding-bottom: 120px;
}

.casess__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.casess__left {
  width: 50%;
}

.casess__right {
  width: 50%;
  background: #F9F9F9;
  -webkit-box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.1);
          box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.1);
  border-radius: 2px;
  padding: 32px 40px;
}

.casess__title {
  margin-bottom: 34px;
}

.casess__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F5F5F5;
  -webkit-box-shadow: inset 0px 0px 2px rgba(1, 1, 1, 0.05);
          box-shadow: inset 0px 0px 2px rgba(1, 1, 1, 0.05);
  position: relative;
  padding: 77px 85px 77px 85px;
}

.casess__slider-link {
  margin-bottom: 24px;
}

.casess__slider-img {
  width: 100%;
}

.casess__slider-hote {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.5;
}

.casess__slider-controls {
  position: absolute;
  left: 50%;
  bottom: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.controls__table-col-was {
  color: #ED4E31;
  border-right: 1px solid #969696;
  border-radius: 1px;
}

.controls__table-col-became {
  color: #0D9723;
}

.controls__left {
  height: 32px;
  margin-right: 80px;
  cursor: pointer;
}

.controls__active {
  font-weight: bold;
  font-size: 32px;
  line-height: 155%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F17A65;
  margin-right: 24px;
}

.controls__line {
  width: 124px;
  background: #0A0302;
  margin-right: 24px;
  height: 2px;
}

.controls__max {
  font-size: 21px;
  line-height: 155%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0A0302;
  margin-right: 80px;
  opacity: 0.5;
}

.controls__right {
  height: 32px;
  cursor: pointer;
}

.controls__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 155%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #5A5A5A;
  opacity: 0.8;
  margin-bottom: 24px;
}

.controls__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls__table-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.controls__table-head {
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: 0.02em;
  opacity: 0.5;
  padding-bottom: 33px;
  padding-left: 34px;
}

.controls__table-col-body {
  padding-top: 28px;
  border-top: 1px solid #969696;
  border-radius: 1px;
}

.controls__table-content-item {
  margin-bottom: 16px;
}

.controls__table-col-became .controls__table-col-body {
  padding-left: 34px;
}

.content__position {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #969696;
  margin-bottom: 5px;
}

.content__data {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }

  .tasks {
    background-position: -71px -65px;
  }

  .slider__arrow-left {
    height: 38px;
  }

  .slider__arrow-right {
    height: 38px;
  }

  .slider__body-img {
    width: 200px;
  }

  .slider__body-img-wrapper {
    padding: 98px 73px;
  }

  .slider__body-main {
    padding: 136px 74px;
  }

  .service__col-subtitle {
    font-size: 20px;
  }

  .list__item-description {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .title {
    font-size: 42px;
    line-height: 118%;
  }

  .header__nav {
    display: none;
  }

  .header__call-btn {
    padding: 24px 5px 18px 44px;
    background-position: center center;
  }

  .header__call-btn span {
    display: none;
  }

  .main__img {
    width: 101%;
  }

  .mobile__menu {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }

  .mobile__menu span {
    display: block;
    height: 4px;
    background-color: #000000;
    width: 100%;
  }

  .mobile__menu span::before {
    content: '';
    height: 4px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 80%;
    -webkit-transform: rotate(0deg) translateY(-50%);
        -ms-transform: rotate(0deg) translateY(-50%);
            transform: rotate(0deg) translateY(-50%);
    width: 100%;
  }

  .mobile__menu span::after {
    content: '';
    height: 4px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 20%;
    -webkit-transform: rotate(0deg) translateY(-50%);
        -ms-transform: rotate(0deg) translateY(-50%);
            transform: rotate(0deg) translateY(-50%);
    width: 100%;
  }

  .service__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .service__col {
    width: 90%;
    margin-bottom: 24px;
    margin-right: 0px;
  }

  .casess__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .casess__left,
  .casess__right {
    width: 100%;
  }

  .casess__slider {
    padding-bottom: 144px;
  }

  .casess__slider-controls {
    bottom: 37px;
  }

  .controls__subtitle {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .title {
    font-size: 33px;
    line-height: 113%;
    text-align: start;
  }

  .btn {
    font-size: 17px;
  }

  .title {
    font-size: 30px;
  }

  .main__img {
    width: 95%;
  }

  .main__description {
    font-size: 16px;
    line-height: 138%;
  }

  .main__note {
    font-size: 15px;
    text-align: initial;
  }

  .mobile__menu {
    width: 40px;
    height: 40px;
  }

  .tasks {
    background-position: -68px 16px;
    padding-top: 157px;
    background-size: 20%;
  }

  .tasks__description {
    font-size: 16px;
  }

  .slider__body-description span {
    font-weight: normal;
  }

  .about-us__title {
    text-align: center;
  }

  .service__title {
    text-align: center;
  }

  .casess {
    padding-top: 180px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 768px;
  }

  .main__title {
    margin-bottom: 16px;
  }

  .main__description {
    font-size: 14px;
    line-height: 127%;
    margin-bottom: 25px;
    text-align: initial;
  }

  .slider__body-img-wrapper {
    padding: 75px 84px;
  }

  .about-us {
    padding-top: 174px;
    background-size: 11%;
  }

  .slider__body-img {
    width: 282px;
  }

  .about-us__slider {
    position: relative;
  }

  .slider__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider__body-main {
    padding: 38px 17px;
    width: 57%;
  }

  .slider__body-order {
    right: 0;
    top: -187%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
  }

  .order-line {
    width: 72px;
  }

  .slider__arrow-left {
    height: 28px;
    position: absolute;
    left: 180px;
    bottom: 213px;
  }

  .slider__arrow-right {
    height: 28px;
    position: absolute;
    right: 180px;
    bottom: 213px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    padding: 0 20px;
  }

  .title {
    font-size: 28px;
    text-align: start;
  }

  .header__logo {
    width: 239px;
  }

  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .main__right {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .main__left {
    width: 100%;
    text-align: center;
  }

  .tasks__title {
    margin-bottom: 40px;
  }

  .tasks__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tasks__item {
    max-width: 65%;
    margin-bottom: 64px;
  }

  .tasks__subtitle {
    font-size: 16px;
  }

  .tasks__description {
    font-size: 14px;
  }

  .about-us__title {
    text-align: center;
  }

  .slider__arrow-left {
    left: 98px;
    bottom: 273px;
  }

  .slider__arrow-right {
    right: 98px;
    bottom: 273px;
  }

  .slider__body-order {
    top: -177%;
  }

  .service__title {
    text-align: center;
  }

  .controls__table-content-item {
    padding-right: 10px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 420px;
    padding: 0 10px;
  }

  .title {
    font-size: 24px;
    line-height: 125%;
  }

  .btn {
    font-size: 16px;
    line-height: 140%;
  }

  .main {
    padding-top: 20px;
  }

  .header__title {
    margin-bottom: 16px;
  }

  .header__logo {
    width: 172px;
  }

  .header__call-btn {
    padding: 19px;
  }

  .mobile__menu {
    width: 40px;
    height: 40px;
  }

  .main__description {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 32px;
  }

  .main__note {
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 8px;
  }

  .tasks {
    background-position: -19px 16px;
    background-size: 28%;
  }

  .about-us {
    padding-top: 168px;
    background-position: right -10px;
    background-size: 14%;
  }

  .slider__body-img {
    width: 249px;
  }

  .slider__body-img-wrapper {
    padding: 70px 63px;
  }

  .slider__arrow-left {
    height: 22px;
    left: 56px;
    bottom: 287px;
  }

  .slider__arrow-right {
    height: 22px;
    right: 56px;
    bottom: 287px;
  }

  .slider__body-order {
    top: -179%;
  }

  .slider__body-description {
    font-size: 16px;
  }

  .service__col-subtitle {
    font-size: 18px;
    line-height: 155%;
  }

  .service__col-subhead {
    font-size: 16px;
    line-height: 155%;
  }

  .list__item-description {
    line-height: 120%;
  }

  .controls__active {
    font-size: 24px;
    line-height: 155%;
  }

  .casess__slider {
    padding: 32px 52px 115px 52px;
  }

  .casess__slider-hote {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.5;
  }

  .controls__left {
    margin-right: 40px;
  }

  .controls__line {
    width: 80px;
  }

  .controls__max {
    font-size: 16px;
    line-height: 155%;
    margin-right: 40px;
  }

  .controls__subtitle {
    font-size: 16px;
    line-height: 155%;
  }

  .controls__table-head {
    padding-bottom: 20px;
  }

  .casess__right {
    padding: 20px 19px;
  }

  .content__position {
    font-size: 14px;
    line-height: 120%;
  }

  .content__data {
    font-size: 20px;
    line-height: 130%;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 375px;
  }

  .tasks__description {
    font-size: 16px;
  }

  .slider__body-img {
    width: 231px;
  }

  .slider__body-main {
    width: 79%;
  }

  .service__row {
    margin-bottom: 40px;
  }

  .controls__table-col {
    width: 50%;
  }

  .controls__table-col-became .controls__table-col-body {
    padding-left: 20px;
  }

  .controls__table-col-was .controls__table-head {
    padding-left: 0px;
  }

  .controls__table-head {
    padding-left: 20px;
  }

  .controls__left {
    margin-right: 20px;
  }

  .controls__line {
    width: 50px;
    margin-right: 18px;
  }

  .controls__active {
    margin-right: 18px;
  }

  .controls__max {
    margin-right: 20px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 320px;
  }

  .title {
    font-size: 22px;
    line-height: 120%;
  }

  .btn {
    font-size: 15px;
    line-height: 140%;
  }

  .tasks {
    background-position: -55px 16px;
    background-size: 28%;
    padding-top: 129px;
  }

  .tasks__img {
    margin-bottom: 16px;
    width: 93px;
  }

  .tasks__description {
    font-size: 14px;
  }

  .slider__body-img {
    width: 179px;
  }

  .about-us {
    padding-top: 110px;
  }

  .slider__arrow-left {
    height: 18px;
    left: 40px;
    bottom: 234px;
  }

  .slider__arrow-right {
    height: 18px;
    right: 40px;
    bottom: 234px;
  }

  .order-active {
    font-size: 24px;
    line-height: 155%;
    margin-right: 16px;
  }

  .order-end {
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
  }

  .order-line {
    margin-right: 16px;
  }

  .slider__body-order {
    top: -182%;
  }

  .slider__body-description {
    font-size: 16px;
    line-height: 120%;
  }

  .about-us {
    background-size: 15%;
  }

  .controls__table-head {
    padding-left: 10px;
  }

  .controls__table-col-became .controls__table-col-body {
    padding-left: 10px;
  }

  .controls__table-content-item {
    padding-right: 0px;
  }

  .content__position {
    font-size: 13px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }

  .title {
    font-size: 21px;
    line-height: 107%;
  }

  .btn {
    font-size: 14px;
    line-height: 94%;
  }

  .main {
    padding-top: 9px;
  }

  .main__note {
    font-size: 11px;
  }

  .tasks {
    padding-top: 117px;
  }

  .tasks__description {
    font-size: 12px;
  }

  .tasks__item {
    margin-bottom: 39px;
  }

  .slider__body-img {
    width: 172px;
  }

  .slider__body-order {
    top: -156%;
  }
}