@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat"), url("../fonts/Montserrat-Light.woff") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.woff") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"), url("../fonts/Montserrat-Medium.woff") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), url("../fonts/Montserrat-Bold.woff") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat"), url("../fonts/Montserrat-Black.woff") format("woff2");
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

::-ms-input-placeholder {
  color: #000;
}

::placeholder {
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.65;
  color: #5A5A5A;
  position: relative;
  overflow-x: hidden;
  background-color: #FDFDFD;
  min-width: 300px;
}

input,
textarea {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.8%;
          flex: 0 0 6.8%;
  max-width: 6.8%;
  margin: 0 12px;
}

.col:nth-child(1) {
  margin-left: 0;
}

.col:last-child {
  margin-right: 0;
}

.btn {
  padding: 18px 40px;
  cursor: pointer;
  background: #ED4E31;
  border-radius: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FDFDFD;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  background-color: #F17F6A;
}

.btn:active {
  background-color: #0A0207;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #0a0302;
}

.header {
  padding: 24px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 279px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-right: 89px;
}

.header:hover {
  background-color: #F5F5F5;
}

.header__description {
  color: #5A5A5A;
}

.nav__link {
  color: #0A0302;
  margin: 0px 36px;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:first-child {
  margin-left: 0px;
}

.nav__link:last-child {
  margin-right: 0px;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background-color: #F17F6A;
  z-index: -1;
}

.call-btn__img {
  margin-right: 10px;
}

.header__call-btn {
  border: 1.5px solid #ED4E31;
  border-radius: 2px;
  color: #ED4E31;
  font-weight: 500;
  font-size: 18px;
  padding: 18px 16px 18px 16px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 6px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__call-btn:hover {
  background-color: #ed4e31;
  color: #F5F5F5;
}

.header__call-btn:active {
  background-color: #0a0207;
}

.header__call-btn:visited {
  background-color: transparent;
}

.header .mobile-menu {
  display: none;
}

.header__call-phone-block {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-box-shadow: -1px 1px 3px 0px #ed4e31;
          box-shadow: -1px 1px 3px 0px #ed4e31;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.header__call-phone-block a {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 23px;
  width: 100%;
  height: 100%;
  letter-spacing: 2.2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ed4e31;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  padding-top: 40px;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__left {
  width: 50%;
  max-width: 732px;
}

.main__title {
  color: #0A0302;
  margin-bottom: 24px;
}

.main__description {
  color: #5A5A5A;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.main__description span {
  font-weight: 500;
}

.main__note {
  color: #969696;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.main__right {
  width: 50%;
  text-align: end;
}

.tasks {
  background-image: url(./../img/Tasks_bg.png);
  background-repeat: no-repeat;
  background-position: -20px 0;
  padding-top: 148px;
}

.tasks__title {
  text-align: center;
  margin-bottom: 83px;
}

.tasks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tasks__item {
  text-align: center;
  max-width: 320px;
  margin: 0 10px;
}

.tasks__img {
  margin-bottom: 16px;
}

.tasks__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #0A0302;
  margin-bottom: 8px;
}

.tasks__description {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #5A5A5A;
}

.about-us {
  padding-bottom: 180px;
  background-image: url(./../img/about_bg.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 202px;
  background-size: 7%;
}

.about-us__title {
  text-align: center;
  margin-bottom: 30px;
}

.about-us__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__arrow-left {
  height: 48px;
  margin-right: 60px;
  cursor: pointer;
}

.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slider__body-img {
  width: 243px;
}

.slider__body-img-wrapper {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.2);
          box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.2);
  border-radius: 2px;
  padding: 118px 109px;
}

.slider__body-main {
  padding: 13% 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F9F9F9;
  -webkit-box-shadow: inset 0px 0px 2px rgba(1, 1, 1, 0.05);
          box-shadow: inset 0px 0px 2px rgba(1, 1, 1, 0.05);
  border-radius: 2px;
  text-align: center;
  position: relative;
}

.slider__body-description {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #5A5A5A;
}

.slider__body-description span {
  font-weight: 700;
  font-size: 20px;
  display: block;
}

.slider__body-order {
  position: absolute;
  right: 0;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-active {
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F17A65;
  margin-right: 24px;
  cursor: pointer;
}

.order-line {
  display: inline-block;
  background: #0A0302;
  height: 2px;
  width: 120px;
  margin-right: 32px;
}

.order-end {
  font-size: 21px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #969696;
}

.slider__arrow-right {
  height: 48px;
  margin-left: 60px;
  cursor: pointer;
}

.slider__body-no-active {
  display: none;
}

.slider__body-description-img {
  width: 30px;
  margin-right: 20px;
}

.slider__body-description-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.service {
  padding-bottom: 40px;
  background-image: url(./../img/cases_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.service__group {
  text-align: center;
}

.service__title {
  text-align: center;
  margin-bottom: 47px;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

.service__col {
  width: 33%;
  margin-right: 24px;
  background: #F5F5F5;
  -webkit-box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.1);
          box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.1);
  border-radius: 2px;
  padding: 24px 24px 42px 28px;
}

.service__col:last-child {
  margin-right: 0px;
}

.service__col-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0A0302;
  text-align: center;
}

.service__col-subhead {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #969696;
  padding-bottom: 16px;
  text-align: center;
  font-weight: normal;
  position: relative;
}

.service__col-subhead::after {
  position: absolute;
  content: '';
  background: #969696;
  opacity: 0.1;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.service__col-list {
  padding-top: 24px;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 18px;
}

.list__item-img {
  margin-right: 16px;
  padding-top: 3px;
}

.list__item-description {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #5A5A5A;
  opacity: 0.7;
}

.get-offer {
  padding-bottom: 152px;
  background-image: url(./../img/get_offer_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
  padding-top: 72px;
  position: relative;
}

.get-offer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.get-offer__title {
  margin-bottom: 40px;
}

.get-offer__form-group {
  background: #F17F6A;
  -webkit-box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.1);
          box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.05), inset 0px 0px 2px rgba(1, 1, 1, 0.1);
  border-radius: 2px;
  padding: 30px 189px 40px 189px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 67%;
}

.form-group__title {
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FDFDFD;
  font-weight: normal;
  margin-bottom: 24px;
}

.form-group__item-group {
  width: 463px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.form-group__input-label {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #2D2D2D;
  margin-bottom: 8px;
}

.form-group__input-label span {
  color: #ED2B09;
}

.form-group__input {
  background: #FFFFFF;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 53px;
  padding-left: 16px;
  border: none;
}

.form-group__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #969696;
}

.form-group__input::-moz-placeholder {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #969696;
}

.form-group__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #969696;
}

.form-group__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #969696;
}

.form-group__input::placeholder {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #969696;
}

.form-group__note {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #68463F;
  margin-top: 32px;
  margin-bottom: 24px;
  width: 463px;
}

.form-group__note-link {
  font-weight: 500;
  font-size: 16px;
  color: #68463F;
  text-decoration: underline;
}

.form-group__btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FDFDFD;
  padding: 18px 157px;
  border: 1.5px solid #FDFDFD;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-group__btn:hover {
  background: #ED4E31;
  border: 1.5px solid #ED4E31;
}

.form-group__btn:active {
  background: #0A0207;
  border: 1.5px solid #0A0207;
}

.get-offer__call {
  width: 64px;
  height: 64px;
  position: absolute;
  right: -47px;
  bottom: 47px;
  background-image: url(./../img/phone.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 6px rgba(89, 85, 85, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.4), inset 0px 2px 2px rgba(150, 150, 150, 0.1);
          box-shadow: 3px 3px 6px rgba(89, 85, 85, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.4), inset 0px 2px 2px rgba(150, 150, 150, 0.1);
  opacity: 0.8;
}

.get-offer__call:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  background-color: #2D2D2D;
  padding: 28px 0;
}

.footer .nav__link {
  color: #fff;
}

.footer__copyright {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #969696;
  opacity: 0.6;
  margin-top: 25px;
}

.footer .mobile-menu {
  display: none;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }

  .tasks {
    background-position: -71px -65px;
  }

  .slider__arrow-left {
    height: 38px;
  }

  .slider__arrow-right {
    height: 38px;
  }

  .slider__body-img {
    width: 200px;
  }

  .slider__body-img-wrapper {
    padding: 98px 73px;
  }

  .slider__body-main {
    padding: 11% 6%;
  }

  .service__col-subtitle {
    font-size: 20px;
  }

  .list__item-description {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .title {
    font-size: 42px;
    line-height: 118%;
  }

  .header__call-phone-block {
    bottom: -200%;
    width: auto;
    left: -200%;
    z-index: 60;
  }

  .header__nav {
    display: none;
  }

  .menu__bodile__show {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 50;
    background-color: #fdfdfd;
    padding: 20px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__bodile__show .nav__link {
    margin: 0;
    margin-bottom: 10px;
  }

  .header__call-btn {
    padding: 7px 2px 7px 10px;
  }

  .header__call-btn span {
    display: none;
  }

  .main__img {
    width: 101%;
  }

  .header .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 16px;
    height: 50px;
  }

  .header .mobile-menu__btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  .header .mobile-menu__icon {
    display: block;
    position: relative;
    background: #000000;
    width: 90%;
    height: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  .header .mobile-menu__icon::after,
  .header .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: #000000;
    width: 100%;
    height: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  .header .mobile-menu__icon::after {
    top: 10px;
  }

  .header .mobile-menu__icon::before {
    top: -10px;
  }

  .header .mobile-menu__checkbox {
    display: none;
  }

  .header .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .header .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
  }

  .header .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
  .header .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
  }

  .header .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .header .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .service__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .service__col {
    width: 90%;
    margin-bottom: 24px;
    margin-right: 0px;
  }

  .get-offer__form-group {
    width: 100%;
  }

  .get-offer {
    padding-bottom: 48px;
  }

  .footer .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 16px;
    height: 50px;
  }

  .footer .mobile-menu__btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  .footer .mobile-menu__icon {
    display: block;
    position: relative;
    background: #ffffff;
    width: 90%;
    height: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  .footer .mobile-menu__icon::after,
  .footer .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  .footer .mobile-menu__icon::after {
    top: 10px;
  }

  .footer .mobile-menu__icon::before {
    top: -10px;
  }

  .footer .mobile-menu__checkbox {
    display: none;
  }

  .footer .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .footer .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
  }

  .footer .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
  .footer .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
  }

  .footer .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .footer .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .footer .header__nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .header__nav__show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer .nav__link {
    margin: 0;
    margin-bottom: 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .footer .nav__link:hover::after {
    bottom: 5px;
  }

  .footer .mobile__menu span {
    background-color: #fff;
  }

  .footer .mobile__menu span::before {
    background-color: #fff;
  }

  .footer .mobile__menu span::after {
    background-color: #fff;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .title {
    font-size: 33px;
    line-height: 113%;
    text-align: start;
  }

  .btn {
    font-size: 17px;
  }

  .title {
    font-size: 30px;
  }

  .main__img {
    width: 95%;
  }

  .main__description {
    font-size: 16px;
    line-height: 138%;
  }

  .main__note {
    font-size: 15px;
    text-align: initial;
  }

  .mobile__menu {
    width: 40px;
    height: 40px;
  }

  .tasks {
    background-position: -68px 16px;
    padding-top: 157px;
    background-size: 20%;
  }

  .tasks__description {
    font-size: 16px;
  }

  .about-us__title {
    text-align: center;
  }

  .service__title {
    text-align: center;
  }

  .get-offer__call {
    display: none;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 768px;
  }

  .main__title {
    margin-bottom: 16px;
  }

  .main__description {
    font-size: 14px;
    line-height: 127%;
    margin-bottom: 25px;
    text-align: initial;
  }

  .slider__body-img-wrapper {
    padding: 75px 84px;
  }

  .about-us {
    padding-top: 174px;
    background-size: 11%;
  }

  .slider__body-img {
    width: 282px;
  }

  .about-us__slider {
    position: relative;
  }

  .slider__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider__body-main {
    padding: 38px 17px;
    width: 57%;
    min-height: 280px;
  }

  .slider__body-order {
    right: 0;
    top: -165%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
  }

  .order-line {
    width: 72px;
  }

  .slider__arrow-left {
    height: 28px;
    position: absolute;
    left: 180px;
    bottom: 43%;
    z-index: 10;
  }

  .slider__arrow-right {
    height: 28px;
    position: absolute;
    right: 180px;
    bottom: 43%;
    z-index: 10;
  }

  .form-group__item-group {
    width: 100%;
  }

  .get-offer__form-group {
    padding: 30px 78px 40px 78px;
  }

  .form-group__note {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    padding: 0 20px;
  }

  .title {
    font-size: 28px;
    text-align: start;
  }

  .header__logo {
    width: 239px;
  }

  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .main__right {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .main__left {
    width: 100%;
    text-align: center;
  }

  .show a {
    font-size: 16px;
  }

  .tasks__title {
    margin-bottom: 40px;
  }

  .tasks__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tasks__item {
    max-width: 65%;
    margin-bottom: 64px;
  }

  .tasks__subtitle {
    font-size: 16px;
  }

  .tasks__description {
    font-size: 14px;
  }

  .about-us__title {
    text-align: center;
  }

  .slider__body-order {
    top: -158%;
  }

  .slider__arrow-left {
    left: 98px;
  }

  .slider__arrow-right {
    right: 98px;
  }

  .slider__body-order {
    top: -155%;
  }

  .service__title {
    text-align: center;
  }

  .form-group__btn {
    padding: 18px 118px;
  }

  .form-group__title {
    font-size: 16px;
    line-height: 120%;
  }

  .form-group__input-label {
    font-size: 16px;
    line-height: 130%;
  }

  .form-group__input {
    height: 44px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 420px;
    padding: 0 10px;
  }

  .title {
    font-size: 24px;
    line-height: 125%;
  }

  .btn {
    font-size: 16px;
    line-height: 140%;
  }

  .main {
    padding-top: 20px;
  }

  .header__title {
    margin-bottom: 16px;
  }

  .header__logo {
    width: 172px;
  }

  .header__call-btn {
    padding: 19px;
  }

  .mobile__menu {
    width: 40px;
    height: 40px;
  }

  .main__description {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 32px;
  }

  .main__note {
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 8px;
  }

  .tasks {
    background-position: -19px 16px;
    background-size: 28%;
  }

  .about-us {
    padding-top: 168px;
    background-position: right -10px;
    background-size: 14%;
  }

  .slider__body-img {
    width: 249px;
  }

  .slider__body-img-wrapper {
    padding: 70px 63px;
  }

  .slider__arrow-left {
    height: 22px;
    left: 56px;
    bottom: 45%;
  }

  .slider__arrow-right {
    height: 22px;
    right: 56px;
    bottom: 45%;
  }

  .slider__body-order {
    top: -159%;
  }

  .slider__body-description {
    font-size: 16px;
    text-align: initial;
  }

  .slider__body-main {
    width: 70%;
  }

  .service__col-subtitle {
    font-size: 18px;
    line-height: 155%;
  }

  .service__col-subhead {
    font-size: 16px;
    line-height: 155%;
  }

  .list__item-description {
    line-height: 120%;
  }

  .get-offer {
    background-position: -27% -12%;
    background-size: auto;
    padding-top: 101px;
  }

  .get-offer__form-group {
    padding: 32px 16px;
  }

  .form-group__btn {
    padding: 18px 107px;
  }

  .form-group__input::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 120%;
  }

  .form-group__input::-moz-placeholder {
    font-size: 13px;
    line-height: 120%;
  }

  .form-group__input:-ms-input-placeholder {
    font-size: 13px;
    line-height: 120%;
  }

  .form-group__input::-ms-input-placeholder {
    font-size: 13px;
    line-height: 120%;
  }

  .form-group__input::placeholder {
    font-size: 13px;
    line-height: 120%;
  }

  .form-group__note {
    font-size: 14px;
    line-height: 120%;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 375px;
  }

  .tasks__description {
    font-size: 16px;
  }

  .slider__body-img {
    width: 231px;
  }

  .slider__body-main {
    width: 79%;
  }

  .order-active {
    font-size: 24px;
    line-height: 155%;
    margin-right: 16px;
  }

  .order-end {
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
  }

  .order-line {
    margin-right: 16px;
  }

  .slider__body-order {
    top: -152%;
  }

  .service__row {
    margin-bottom: 40px;
  }

  .form-group__btn {
    padding: 18px 83px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 335px;
  }

  .title {
    font-size: 22px;
    line-height: 120%;
  }

  .btn {
    font-size: 15px;
    line-height: 140%;
  }

  .tasks {
    background-position: -55px 16px;
    background-size: 28%;
    padding-top: 129px;
  }

  .tasks__img {
    margin-bottom: 16px;
    width: 93px;
  }

  .tasks__description {
    font-size: 14px;
  }

  .slider__body-img {
    width: 179px;
  }

  .about-us {
    padding-top: 110px;
  }

  .slider__arrow-left {
    height: 18px;
    left: 40px;
    bottom: 52%;
  }

  .slider__arrow-right {
    height: 18px;
    right: 40px;
    bottom: 52%;
  }

  .slider__body-order {
    top: -159%;
  }

  .slider__body-description {
    font-size: 16px;
    line-height: 120%;
  }

  .about-us {
    background-size: 15%;
  }

  .form-group__btn {
    padding: 18px 60px;
  }

  .form-group__btn {
    font-size: 16px;
    line-height: 140%;
    padding: 18px 75px;
  }
}

@media (max-width: 335px) {
  .container {
    max-width: 320px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 21px;
    line-height: 107%;
  }

  .btn {
    font-size: 14px;
    line-height: 94%;
  }

  .main {
    padding-top: 9px;
  }

  .main__note {
    font-size: 11px;
  }

  .tasks {
    padding-top: 117px;
  }

  .tasks__description {
    font-size: 12px;
  }

  .tasks__item {
    margin-bottom: 39px;
  }

  .slider__body-img {
    width: 172px;
  }

  .slider__body-order {
    top: -156%;
  }

  .form-group__btn {
    padding: 18px 66px;
  }
}